# This software is contributed or developed by KYOCERA Corporation.
# (C) 2020 KYOCERA Corporation

config NFC_PI4IO_DEVICES
	bool "Driver for the Pericom PI4IOE5V6408 GPIO Expander"
	default y
	---help---
	  You'll have to say Y if your computer contains an I2C device that
	  you want to use under Linux.

	  You can say N here if you don't have any SPI connected to your computer.
